@{
    ViewData["Title"] = "Ekipman Kullanıcısı Paneli";
}

<div class="admin-flex">
    <div class="admin-left">
        <span class="admin-title">Ekipman Kullanıcısı Paneli</span>
    </div>
    <div class="admin-right">
        <div class="admin-grid" style="grid-template-rows: 1fr; grid-template-columns: 1fr 1fr;">
            <a asp-controller="Ekipman" asp-action="Yeni" class="admin-box">Ekipman Talebi Oluştur</a>
            <a asp-controller="Ekipman" asp-action="EkipmanListele" class="admin-box">Ekipman Talebi Görüntüle</a>
        </div>
    </div>
</div>

